# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Ambientes Virtuais
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Chaves e Arquivos de Configuração Local
.env

# Logs do sistema
logs/
*.log

# IDEs e Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
