python-dotenv
langchain
langchain-core
langgraph
langchain-google-genai
langchain-groq
langchain-community
langchain-text-splitters
faiss-cpu
pypdf
psycopg2-binary
pydantic
pydantic-settings
tzdata
pymongo
pydantic
fastapi
uvicorn
httpx
slowapi
rapidfuzz
python-json-logger
pytest
pytest-asyncio
pytest-cov
pytest-mock
ruff
